body{
    background-color: #f4f4f4;
    font-family: times;
    cursor: default;
}
.center{
    text-align: center;
}
button{
    background-color: ;
    color: green;
    border: ;
    padding: 10px 20px;
    cursor: pointer;
}