{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <table>
                <tr>
                    <td>
                        <a href="{% url 'blog:post-list' %}" class="top-link">Blogs</a>
                    </td>
                    <td>
                        <form action="/search" method="get">
                            <label for="site-search"></label>
                            <input type="search" id="site-search" name="q" placeholder="Search...">
                            <button type="submit">Search</button>
                        </form>
                    </td>
                    <td>
                        {% if user.is_authenticated %}
                        <table>
                            <tr>
                                <td>
                                    <a href="{% url 'users:profile' user.username %}" class="button-link">{{ user.username }}</a>
                                </td>
                                <td>
                                    <form method="post" action="{% url 'users:logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="right-button">Logout</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                        {% else %}
                        <table>
                            <tr>
                                <td><span>Welcome, Guest!</span></td>
                                <td>
                                    <a href="{% url 'users:login' %}">Login</a>
                                    <a href="{% url 'users:register' %}">Register</a>
                                </td>
                            </tr>
                        </table>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ now|date:"Y" }} My Blog</p>
    </footer>
</body>
</html>
