{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'post.css' %}">

{% block content %}

  <main>
    <h1> {{ post.category }}</h1>
  <div class="article-wrapper">
    <h1>{{ post.title }}</h1>
    <p class="meta">By {{ post.author }} on {{ post.published_date }}</p>
    <div class="content">
      {{ post.body|safe }}
    </div>
    {% if post.attachments %}
        <img src="{{ post.attachments.url }}" alt="Attachment" class="attachment-image">
    {% else %}
        <p>No attachments for this post.</p>
    {% endif %}
    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <strong>{{ comment.author }}</strong> at {{ comment.created_at }}<br>
            <p>{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>No comments yet. Be the first to comment!</p>
    {% endfor %}

    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'users:login' %}?next={{ request.path }}">Log in</a> to comment.</p>
    {% endif %}
  </div>
</main>


  <p><a href="{% url 'blog:post-list' %}">&larr; Back to all posts</a></p>
{% endblock %}
