{% extends "base.html" %}

{% block content %}
  <h1>Recent Posts</h1>
  <hr>

  <p>Want to create a new post?</p>
  <p><a href="{% url 'blog:post-create' %}" class="btn btn-primary">Create New Post</a></p>

  {% for post in posts %}
    <div class="post-summary">
      <h2>
        <a href="{% url 'blog:post-detail' post.pk %}">{{ post.title }}</a>
      </h2>
      <p><strong>Published:</strong> {{ post.created_at|date:"F j, Y" }}</p>

      <p>{{ post.content|truncatewords:40 }}</p>

      <p>
        <a href="{% url 'blog:post-detail' post.pk %}">Read more...</a>
      </p>
      <hr>
    </div>
  {% empty %}
    <p>No posts have been published yet.</p>
  {% endfor %}

{% endblock %}
